<div class="banner " style="background-image: url(https://spare-assets.oss-cn-shanghai.aliyuncs.com/desktop.jpg
); background-size: cover; height: 90vh ; width:100%; background-position: center; ">
</div>
